venv
.trae



README_GITHUB.md                     
guia_entrega_final.md                 
planificacion_trello.md                  
visualizaciones
analisis_comportamiento_usuarios.py  
readme.md                
workspace.code-workspace          
instrucciones_setup.md                 
solved.md
planificacion_trello.md